@charset "UTF-8";
/* CSS Document */

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

.fluid-image {
	height: 400px;	
}

.image img {
	width: 100%;
	height: auto;	
}

.header {
	background: red;	
}

.header a {
	color: white;
}

.product {
	margin-bottom: 20px;	
}

.footer {
	background: cyan;	
}